
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: white;

  font-family: "Open Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url(../public/media/img/spa.avif);
  background-size: 1440px ;
  background-repeat: no-repeat;

}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* GLOBAL STYLE */
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: unset;
}

hr {
  border: none;
  border-bottom: 1px solid var(--divider-color);
}

h1,
h2,
h3,
h4 {
  letter-spacing: var(--letter-spacing);
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.25rem;
}
h4 {
  font-size: 0.875rem;
}
p {
  color: var(--primary-gray);
  font-size: 0.9rem;
  letter-spacing: var(--letter-spacing);
}
@media screen and (min-width: 753px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 2rem;
  }
  h4 {
    font-size: 1.25rem;
  }
  body {
    font-size: 1rem;
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}

.btn {
  display: inline-block;
  border: none;
  padding: 0.4rem 1.25rem;
  border-radius: var(--btn-radius);
  box-shadow: var(--light-shadow);
  letter-spacing: var(--letter-spacing);
  font-size: 0.55rem;
  transition: var(--btn-transition);
  cursor: pointer;
  font-weight: 700;
  text-transform: uppercase;
}

.icon-btn {
  padding: 0.4rem 0.2rem;
  background-color: transparent;
  box-shadow: unset;
  justify-self: center;
}

.icon,
.nav-icon {
  padding: 0;
  margin: 0;
  transition: var(--btn-transition);
}


.icon {
  font-size: 1rem;
  color: var(--flickr-pink);
}

.underline,
.topline {
  position: absolute;
  bottom: -13px;
  height: 2px;
  width: 80%;
  background-color: var(--flickr-pink);
  left: 50%;
  transform: translateX(-50%);
  border-radius: var(--radius);
}

.topline {
  top: -13px;
}

/*
====================
NAV STYLE
====================
*/

.nav {
  background-color: transparent;
  height: 4rem;
  display: flex;
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  align-items: center;
}

.nav-header {
  display: flex;
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  -moz-justify-content: space-between;
  -webkit-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
  align-items: center;
}

.nav-brand {
  margin-bottom: 0.1rem;
 color: white;
  text-transform: lowercase;
  font-variant: small-caps;
  text-decoration: none;
}

.nav-toggler {
  font-size: 1.5rem;
  padding-bottom: 0;
  align-self: center;
  transition: var(--btn-transition);
}

.nav-toggler:hover .nav-icon {
  transform: rotateZ(90deg);
}

.nav-links {
  display: none;
  text-decoration: none;
}

.nav-link {
  display: grid;
  display: -moz-grid;
  display: -ms-grid;
  display: -webkit-grid;
  align-items: center;
  grid-template-columns: auto 1fr;
  gap: 1rem;
  white-space: nowrap;
  text-decoration: none;
}

.nav-text {
  font-size: 1rem;
  text-transform: lowercase;
  font-variant: small-caps;
  color: white;
}

.nav-item {
  transition: var(--btn-transition);
  text-decoration: none;
  color: black;
}

.nav-item:hover {
  color: var(--flickr-pink);
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 1rem;
}

/*
====================
NAV STYLE MEDIA QUERY
====================
*/

@media screen and (min-width: 992px) {
  .nav {
    -moz-justify-content: space-around;
    -webkit-justify-content: space-around;
    -ms-justify-content: space-around;
    justify-content: space-around;
    height: 5rem;
  }

  .container {
    width: 90%;
  }

  .nav-container {
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    align-items: center;
    -moz-justify-content: space-between;
    -webkit-justify-content: space-between;
    -ms-justify-content: space-between;
    justify-content: space-between;
  }

  .nav-header {
    text-align: left;
    width: fit-content;
  }

  .links-container {
    justify-self: center;
  }
  .nav-toggler {
    display: none;
  }

  .nav-links {
    width: 50%;
    display: flex;
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    -moz-justify-content: space-between;
    -webkit-justify-content: space-between;
    -ms-justify-content: space-between;
    justify-content: space-between;
  }

  .nav-icon {
    font-size: 1.4em;
  }

  .socialTop {
    display: grid;
    display: -moz-grid;
    display: -ms-grid;
    display: -webkit-grid;
    align-items: center;
    grid-template-columns: auto auto auto;
    gap: 1rem;
    font-size: 1.2rem;
  }
}

/*
====================
END NAV STYLE
====================
*/

.btn-group {
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -moz-justify-content: space-between;
  -webkit-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
  width: 100%;
}

.btn-primary {
  background-color: var(--flickr-pink);
  color: white;
  font-size: 0.8rem;
  text-transform: uppercase;
  padding: 0.9rem 1.8rem;
  width: fit-content;
}

.btn-primary:hover {
  background-color: var(--byzantine);
  transform: scale(1.02);
}

/*
====================
SIDEBAR STYLE
====================
*/
.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
  width: 100%;
  background: white;
  transform: translateX(-100%);
  transition: var(--transition);
}

.sidebar-content {
  height: 50%;
  display: grid;
  display: -moz-grid;
  display: -ms-grid;
  display: -webkit-grid;
  gap: 2rem;
}

.sidebar .nav-header {
  margin: 0;
  height: 4rem;
}

.sidebar .nav-header .nav-icon {
  margin: 0;
  padding: 0;
  font-size: 1.8rem;
}

.sidebar-links {
  display: grid;
  display: -moz-grid;
  display: -ms-grid;
  display: -webkit-grid;
  display: grid;
  place-items: flex-start;
  gap: 1rem;
  font-size: 1.2em;
}

.sidebar-links .nav-item {
  width: 100%;
  padding: 0.5rem 0rem;
}

.sidebar-social {
  width: fit-content;
  margin: 2rem auto;
  font-size: 1.5rem;
  display: -moz-grid;
  display: -ms-grid;
  display: -webkit-grid;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;
}

.nav-item:hover .nav-link .nav-icon {
  transform: scale(1.1);
  color: var(--flickr-pink) !important;
}

.show-sidebar {
  transform: translateX(0%) !important;
}

/*
====================
SIDEBAR MEDIA QUERY STYLE
====================
*/

@media screen and (min-width: 992px) {
  .sidebar {
    display: none;
  }
}

/*
====================
END SIDEBAR STYLE
====================
*/

/*
====================
HERO STYLE
====================
*/

.hero-img-container {
  position: relative;
  background-position: top;
  background-size: contain;
  min-height: 96vh;
  width: 100%;
  z-index: 1;
}

.hero-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 999;
}

.hero-container {
  height: 100%;
}

/*=== HOME HERO ===*/

.home-hero {
  display: -moz-grid;
  display: -ms-grid;
  display: -webkit-grid;
  display: grid;
  height: 100%;
  align-items: center;
}

.home-hero-text {
  width: 100%;
  display: -moz-grid;
  display: -ms-grid;
  display: -webkit-grid;
  display: grid;
  place-items: center;
  text-align: center;
  gap: 2rem;
  color: var(--text-color);
}

.home-hero-title {
  display: -moz-grid;
  display: -ms-grid;
  display: -webkit-grid;
  display: grid;
  gap: 1rem;
}

.home-hero-title h2 {
  font-weight: 900;
}

.home-hero-title h4 {
  font-variant: small-caps;
}

.home-hero-text p {
  align-self: center;
  color: var(--light-gray);
  max-width: 70ch;
  line-height: 1.6;
}

.home-hero-text .btn {
  align-self: center;
  border-radius: 22px;
}

/*=== HOME HERO MEDIA ===*/
@media screen and (min-width: 992px) {
  .home-hero {
    grid-template-columns: repeat(12, 1fr);
  }

  .home-hero-text {
    grid-column: 1/7;
    gap: 3rem;
    text-align: left;
    place-items: start;
  }

  .home-hero-text p {
    align-self: flex-start;
    color: var(--light-gray);
    max-width: 70ch;
    line-height: 1.6;
  }

  .home-hero-text .btn {
    align-self: unset;
  }

  .home-hero-img {
    grid-column: 8/-1;
  }
}
/*=== ABOUT HERO ===*/

.about-hero {
  display: -moz-grid;
  display: -ms-grid;
  display: -webkit-grid;
  display: grid;
  height: 100%;
  place-items: center;
}
.about-text {
  position: relative;
  text-align: center;
  line-height: 1.5;
  max-width: 45ch;
  color: var(--light-gray);
}
.about-text h3 {
  line-height: 1.4;
  font-style: italic;
}
@media screen and (min-width: 992px) {
  .about-text {
    max-width: 65ch;
  }
}

/*=== CONTACT HERO ===*/
.contact-hero {
  display: -moz-grid;
  display: -ms-grid;
  display: -webkit-grid;
  display: grid;
  height: 100%;
  align-items: center;
}

.contact-hero-text {
  width: 100%;
  display: -moz-grid;
  display: -ms-grid;
  display: -webkit-grid;
  display: grid;
  place-items: center;
  text-align: center;
  gap: 2rem;
}

.contact-hero-title {
  margin-top: 3rem;
  display: -moz-grid;
  display: -ms-grid;
  display: -webkit-grid;
  display: grid;
  gap: 1rem;
}

.contact-title {
  line-height: 1.05;
}

.contact-subtitle {
  color: var(--primary-gray);
  line-height: 1.4;
  font-weight: 500;
  max-width: 55ch;
  margin: auto;
}

